@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-bg-color-dark-theme: #121212;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* 다크모드 구현 시 할 것 */
		/* background-color: var(--main-bg-color-dark-theme); */
	}
}

body {
	@apply md:max-w-3xl m-auto px-5;
}
/* prettyCode */
pre {
	overflow-x: auto;
	padding: 1rem 0;
}

pre [data-line] {
	padding: 0 1rem;
}

/* tailwind typography */
.prose a {
	@apply underline transition-all decoration-neutral-400;
}

.prose code::after,
code::before {
	display: none;
}

.prose p {
	@apply m-0 text-pretty break-keep text-start;
}

.prose p > code,
li > code {
	@apply font-semibold bg-slate-200 p-1 rounded text-center;
}

.prose pre {
	@apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900 py-2 px-3 text-sm;
}

.prose h1 {
	@apply text-3xl font-medium tracking-tight mt-6 mb-2;
}

.prose h2 {
	@apply text-2xl font-medium tracking-tight mt-6 mb-2;
}

.prose h3 {
	@apply text-xl font-medium tracking-tight mt-6 mb-2;
}

.prose h4 {
	@apply text-lg font-medium tracking-tight mt-6 mb-2;
}

.prose strong {
	@apply font-bold;
}

.prose ul {
	@apply list-disc pl-6;
}

.prose ol {
	@apply list-decimal pl-6;
}

.prose table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}
