@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-bg-color-dark-theme: #121212;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* 다크모드 구현 시 할 것 */
		/* background-color: var(--main-bg-color-dark-theme); */
	}
}

/* prettyCode */
pre {
	overflow-x: auto;
	padding: 1rem 0;
}

pre [data-line] {
	padding: 0 1rem;
}

/* tailwind typography */
.prose a {
	@apply underline decoration-neutral-400 transition-all;
}

.prose code::after,
code::before {
	display: none;
}

.prose p {
	@apply m-0 text-pretty break-keep text-start;
}

.prose p > code,
li > code {
	@apply rounded bg-slate-200 p-1 text-center font-semibold;
}

.prose pre {
	@apply overflow-x-auto rounded-lg border border-neutral-200 bg-neutral-50 px-3 py-2 text-sm dark:border-neutral-900 dark:bg-neutral-900;
}

.prose h1 {
	@apply mb-2 mt-6 text-3xl font-medium tracking-tight;
}

.prose h2 {
	@apply mb-2 mt-6 text-2xl font-medium tracking-tight;
}

.prose h3 {
	@apply mb-2 mt-6 text-xl font-medium tracking-tight;
}

.prose h4 {
	@apply mb-2 mt-6 text-lg font-medium tracking-tight;
}

.prose strong {
	@apply font-bold;
}

.prose ul {
	@apply list-disc pl-6;
}

.prose ol {
	@apply list-decimal pl-6;
}

.prose table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}
